@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

[data-theme="light"] {
  --bg: #e9e9e9;
  --color: #1e1e1e;
  --svg: #d60040;
  --nav-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

[data-theme="dark"] {
  --bg: #1e1e1e;
  --color: #dbdcdc;
  --svg: #ffd00b;
  --nav-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--bg);
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

/*! Header Section */
.header {
  width: 100%;
  height: 59px;
  padding: 27px 0;
  background-color: var(--bg);
  position: sticky; /* !Change the position to fixed, but i'll imply change the #cards margin-top*/
  top: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  z-index: 10;
}

.header .logo {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 33px;
  cursor: pointer;
}

.header .logo svg {
  padding: 0 8.47px 0 0;
  fill: var(--svg);
}

.header .logo a, .nav-links a {
  font-size: 26px;
  font-weight: 900;
  line-height: 39px;
  text-decoration: none;
  color: var(--color);
}

.nav-links {
  list-style: none;
  padding: 0 15px;
}

.nav-links li{
  display: inline-block;
  padding: 0 10px;
}

.btn-random {
  width: 185px;
  height: 59px;
  border: none;
  border-radius: 11px;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  background-color: #fff9f9;
  box-shadow: var(--nav-shadow);
  transition: all .3s ease-in;
}

.btn-random:hover{
  transform: scale(110%);
}

.search {
  width: 384px;
  height: 59px;
  position: relative;
  border-radius: 11px;
  box-shadow: var(--nav-shadow);
  background-color: #FFF9F9;
}

.search input[type="text"] {
  width: 312px;
  height: 59px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  border: none;
  outline: none;
  text-indent: 16.3px;
  font-weight: 900;
  line-height: 36px;
  color: #000;
  background-color: #FFF9F9;
  border-radius: 11px 0 0 11px;
}

.search input[type="text"]::placeholder {
  opacity: 0.3;
  color: #4f4f4e;
}

.search button{
  width: 72px;
  height: 59px;
  position: absolute;
  left: 312px;
  top: 0;
  border: none;
  border-radius: 0 11px 11px 0;
  background-color: #FFF9F9;
}

.search-img {
  position: relative;
  top: -5px;
  left: 10px;
  width: 19px;
  height: 19px;
  margin-top: 0;
  border-width: 8px;
  border: 8px solid #1e1e1e;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  width: 17px;
  height: 5.81px;
  display: block;
  position: absolute;
  top: 42px;
  left: 36px;
  border-radius: 20px;
  transform: rotateZ(45deg);
  background-color: transparent;
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  width: 25px;
  height: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  transform: rotateZ(0);
  background-color: #1e1e1e;
  transition: 0.5s ease all;
}
button:hover .search-img {
  width: 45px;
  height: 10px;
  top: 0px;
  border-width: 0;
  background-color: #1e1e1e;
  border-radius: 20px;
}

button:hover span {
  width: 25px;
  top: 36.5px;
  left: 34px;
  margin-top: -9px;
  transform: rotateZ(0);
}

button:hover span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

button:hover span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}

button:hover span:before, button:hover span:after {
  width: 35px;
  right: -6px;
  background-color: #1e1e1e;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 4px;
  border-radius: 40px;
  margin-right: 15px;
}

.toggle:before,
.toggle:after {
  content: "";
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  border: 4px solid #837878;
  border-radius: 40px;
  background-color: #484848;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #1e1e1e;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 0px;
  border: 4px solid #dee1c5;
  background-color: #fffdf2;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 40px -5px 0px -3px #fcfcfc, 68px -5px 0 -1px #fcfcfc,
    48px 8px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc,
    44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(1);
}

.toggle-switch-figure:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}

.toggle-switch-figure:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}

.toggle-switch-figureAlt {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figureAlt:after {
  content: "";
  display: block;
  position: relative;
  top: -65px;
  right: -42px;
  width: 15px;
  height: 15px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(70deg);
  background-color: #fff;
}
.toggle-switch-figureAlt:before {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(30deg);
  background-color: #fff;
}

.toggle-input:checked ~ .toggle-switch {
  margin-left: 50px;
  border-color: #f5eb42;
  background-color: #e4c74d;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: #aaeae5;
  border-color: #79b8b8;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(0.4);
}

/* *menu btn Cellphone*/
.menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .3s ease-in;
  display: none;
}

.menu-btn__stripes {
  width: 25px;
  height: 6px;
  background-color: var(--color);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__stripes::before, .menu-btn__stripes::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 6px;
  background-color: var(--color);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__stripes::before{
  transform: translateY(-8px);
}
.menu-btn__stripes::after{
  transform: translateY(8px);
}

.menu-btn.open .menu-btn__stripes{
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__stripes::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__stripes::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.dropdown-menu{
  width: 100%;
  height: 0px;
  margin-top: -9px;
  z-index: 4;
  background-color: var(--bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: menu-close .3s alternate;
  position: fixed;
}

.dropdown-menu .nav-links, .dropdown-menu .toggle {
  display: none;
}

@keyframes menu-close {
  0%{height: 231px;};
}

.dropdown-menu.open{
  height: 231px;
  display: none;
  animation: menu-open .5s alternate;
  z-index: 4;
}

@keyframes menu-open {
  0%{height: 0;}
}

/* menu cellphone container */
.search-container{
  width: 100%;
  height: 43px;
  margin-top: 14px;
  position: fixed;
  z-index: 3;
  display: none;
}

/** Cards Section */
.bug {
  background-color: #92bc2c;
}
.dark {
  background-color: #595761;
}
.dragon {
  background-color: #0c69c8;
}
.electric {
  background-color: #f2d94e;
}
.fairy {
  background-color: #ee90e6;
}
.fighting {
  background-color: #d3425f;
}
.fire {
  background-color: #dc3800;
}
.flying {
  background-color: #a1bbec;
}
.ghost {
  background-color: #5f6dbc;
}
.grass {
  background-color: #5fbd58;
}
.ground {
  background-color: #da7c4d;
}
.ice {
  background-color: #75d0c1;
}
.normal {
  background-color: #a0a29f;
}
.poison {
  background-color: #b763cf;
}
.psychic {
  background-color: #fa8581;
}
.rock {
  background-color: #c9bb8a;
}
.steel {
  background-color: #5695a3;
}
.water {
  background-color: #539ddf;
}

#cards-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px 33px;
  margin-top: 16px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: 500px;
  border-radius: 26px;
  position: relative;
}

.card .title {
  position: absolute;
  width: 364px;
  height: 37px;
  top: 5px;
  font-size: 24.8px;
  font-weight: 900;
  line-height: 37px;
  text-align: center;
  color: #1f1f1f;
  text-transform: capitalize;
}

[class^="icon"] {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
}

.icon1 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25),
    -2px -2px 4px rgba(255, 255, 255, 0.25);
  left: 7px;
  top: 7px;
}

.icon2 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
    inset 3px 3px 4px rgba(0, 0, 0, 0.25);
  left: 423px;
  top: 453px;
  z-index: 1;
}

.icon1 img,
.icon2 img {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
}

.pokeImage {
  position: absolute;
  transform: scale(47%);
  top: -15%;
  z-index: 2;
}

[id|="slide"] {
  width: 100%;
  height: 184px;
}

.container {
  position: relative;
  width: 100%;
  height: 276px;
  background-color: #ffffff;
  border-radius: 26px;
  top: 112px;
}

.active {
  text-decoration: underline rgb(120, 118, 118);
}

[class|="mySlides"] {
  display: none;
}

.fade {
  animation: fade 1.5s ease;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.pokemonNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 53px;
  gap: 50px;
}

.pokemonNav li {
  font-weight: 900;
  font-size: 19px;
  line-height: 24px;
  color: #0d131a;
}

.pokemonNav li:hover {
  color: #9da1a6;
}

.pokemonNav li.active {
  text-decoration: 2px underline;
}
/*! About section  */
.about-spec {
  width: 434px;
  position: absolute;
  top: 90px;
  left: 19px;
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #0d131a;
}

.about-info {
  max-width: 385px;
  position: absolute;
  top: 156px;
  left: 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #0d131a;
}

.about-info li {
  list-style: none;
}

.type,
.type2 {
  position: absolute;
  width: 77px;
  height: 20px;
  border-radius: 24px;
  color: #0d131a;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  box-shadow: none;
}

.type {
  left: 19px;
  top: 249px;
}

.type2 {
  left: 100px;
  top: 249px;
}

.type > img,
.type2 > img {
  width: 13px;
}
/*! About section  */
/*! Stats section */
.stats-text {
  width: 87px;
  height: 168px;
  position: absolute;
  top: 91px;
  left: 17px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stats-text__text {
  height: 18px;
  width: 87px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.stats-progress {
  width: 200px;
  height: 162px;
  position: absolute;
  top: 97px;
  left: 108px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 1;
}

.stats-progress__bar {
  height: 12px;
  border-radius: 20px;
  box-shadow: none;
  animation: bar-animation 2s alternate;
}

@keyframes bar-animation {
  0% {width: 0;}
}

.stats-progress__bar::after {
  content: "";
  background-color: #dbdcdc;
  width: 279px;
  height: 12px;
  border-radius: 20px;
  z-index: -1;
  position: absolute;
}

.stats-number {
  width: 28px;
  height: 168px;
  position: absolute;
  top: 91px;
  left: 390px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.stats-number__text {
  font-size: 15px;
}
/*! Stats section */

/*! Evolution section */
.evolution-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.evolution-card {
  width: 108px;
  height: 185px;
  display: grid;
  text-align: center;
  justify-content: center;
  place-items: center;
}

.evolution-card__background {
  background-color: white;
  width: 146px;
  height: 146px;
  border-radius: 50%;
  position: relative;
  box-shadow: none;
}

.evolution-card__image {
  width: 110px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.evolution-card__name {
  font-size: 14px;
  text-transform: capitalize;
}

.evolution-card__id {
  font-size: 14px;
}
/*! Evolution Section */

/*! Habitat Section */
.habitat-container{
  width: 100%;
  position: absolute;
  top: 80px; 
}

.habitat-container li{
  list-style: none;
  margin: 20px 17px ;
}
/*! Habitat Section */


/* Keyframes Section */

@media only screen and (max-width: 900px){
  
  .header {
    gap: 0px;
    padding: 10px 0;
  }

  .header .logo{
    left: 12px;
  }

  .header .logo svg {
    padding: 0 5.70px 0 0;
    fill: var(--svg);
  }

  .header .logo a{
    font-size: 24px;
  }

  .header .nav-links li, .toggle, .btn-random, .search{
    display: none;
  }

  .menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .dropdown-menu.open{
    display: block; 
  }

  .dropdown-menu.open .nav-links{
    padding: 0 58px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 9px;
    animation: fade2 .5s .3s forwards;
    opacity: 0;
  }

  @keyframes fade2 {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  .dropdown-menu.open .nav-links li{
    display: block;
  }

  .dropdown-menu.open .toggle{
    display: inline-block;
    margin-left: 74px;
    margin-top: 9px;
    opacity: 0;
    animation: fade2 .5s .3s forwards;
  }

  .search-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
  }

  .search-container .search{
    width: 238px;
    height: 43px;
    display: block;
  }

  .search-container .search input[type="text"]{
    width: 197px;
    height: 43px;
    font-size: 16px;
  }
  
  .search-container .search button{
    width: 41px;
    height: 43px;
    left: 197px;
  }

  .search-container .search button .search-img{
    width: 9px;
    height: 9px;
    left: 4px;
    top: -4px;
  }
  .search-container .search button:hover .search-img{
    width: 25px;
    height: 9px;
    left: 4px;
    top: 0px;
  }

  .search-container .search button span{
    width: 18px;
    height: 8px;
    top: 27px;
    left: 20px;
  }

  .search-container .search button span::before,
  .search-container .search button span::after{
    width: 18px;
    height: 8px;
    bottom: 0px;
    right: 2px;
  }
  .search-container .search button:hover span::before{
    width: 25px;
    left: -7px;
    top: -7px;
  }
  .search-container .search button:hover span::after{
    width: 25px;
    left: -7px;
    top: 7px;
  }

  .search-container .btn-random {
    width: 121px;
    height: 43px;
    font-size: 17px;
    display: block;
  }

  #cards-container {
    gap: 10px;
    margin-top: 84px;
  }

  .icon2 {
    top: 7px;
    left: 299px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25),
      -2px -2px 4px rgba(255, 255, 255, 0.25);
  }

  .card .title{
    font-size: 20px;
  }
  .pokemonNav {
    gap: 17px;
  }
  .about-spec {
    width: 308px;
    top:80px;
  }
  .about-info {
    max-width: 308px;
    top: 165px;
  }
  .stats-text {
    left: 6px;
  }
  .stats-text__text {
    font-size: 14px;
  }
  .stats-progress {
    left: 90px;
  }
  .stats-progress__bar::after {
    width: 250px;
  }
  .stats-number {
    display: none;
  }
  .evolution-box {
    gap: 20px;
  }
  .evolution-card {
    width: 90px;
  }
  .evolution-card__background {
    width: 80px;
    height: 80px;
  }
  .evolution-card__image {
    width: 70px;
    left: 5px;
    top: 5px;
  }

  .habitat-container li{
    margin: 15px 17px;
  }
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 900px){

  .header .logo a{
    font-size: 36px;
  }

  .search-container{
    justify-content: space-evenly;
  }

  .search-container .search{
    width: 325px;
  }

  .search-container .search input[type="text"]{
    width: 284px;
    font-size: 20px;
  }
  
  .search-container .search button{
    left: 284px;
  }

  .search-container .btn-random {
    width: 131px;
  }

  .card {
    width: 374px;
  }

  .icon2{
    left: 327px;
  }

  .pokemonNav{
    gap: 25px;
  }

  .about-spec{
    width: 336px;
  }

  .stats-number{
    display: flex;
    left: 345px;
    gap: 7.5px;
  }

  .habitat-container li{
    margin: 15px 8px;
  }
}

/* Cellphone */
@media only screen and (min-width: 280px) and (max-width: 699px){

  .header .logo a{
    font-size: 25px;
  }

  .search-container{
    justify-content: space-around;
  }

  .search-container .search{
    width: 220px;
  }

  .search-container .search input[type="text"]{
    width: 160px;
    font-size: 16px;
  }
  
  .search-container .search button{
    left: 179px;
  }

  .search-container .btn-random {
    width: 131px;
  }

  .card {
    width: 346px;
  }

  .pokemonNav{
    gap: 15px;
  }

  .habitat-container li {
    margin: 15px 8px;
  }
}